<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/images/slide1.png" alt="">
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slide2.png" alt="">
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slide3.png" alt="">
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="light" href="/" routerDirection="forward" sty;e="margin-top:20px;">
              Start Using Quicklists
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <img src="assets/images/slides4.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
