<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <img src="assets/shapes.svg" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addChecklist()">
        <ion-icon slot="icon-only" name="add-circle">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding>
      <ion-item href="/checklists/123" routerDirectoin="forward">
      <ion-label>
        TITLE GOES HERE
      </ion-label>
    <span> 0 Items</span>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="light" expandable (click)="renameChecklist(checklist)">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" expandable (click)="removeChecklist(checklist)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>