ion-item-sliding{
    margin: 5px;
}

ion-label {
    font-size: 1.2em;
    font-weight: bold;
    color: #282828;
    padding-top:10px;
    padding-bottom:10px;
}

ion-item span {
    color: #fff;
    font-weight: 400;
    margin-right:10px;
}